  <!-- プレイリストセクション -->
  <div>
    <div class="flex items-center justify-between mb-4 pb-2">
      <!-- 見出し部分に下線を追加 -->
      <h2 class="text-lg font-bold text-gray-800">
        <%= link_to 'プレイリスト', search_playlist_path, class: "text-purple-800 hover:underline text-xl pl-3" %>
      </h2>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 gap-6">
      <% @playlists.each do |playlist| %>
      <div class="rounded-lg p-2 relative group">
        <%= link_to playlist_path(playlist), class: "block relative" do %>
        <!-- 1枚目の背景画像（最奥） -->
        <div class="absolute -top-6 left-0 w-full h-full bg-black rounded-lg transform scale-95">
          <%= image_tag "black.webp", 
                        alt: "背景画像1", 
                        class: "w-full h-full object-cover rounded-lg opacity-50", 
                        loading: "lazy" %>
        </div>
        <!-- 2枚目の背景画像（中間） -->
        <div class="absolute -top-3 left-0 w-full h-full bg-black rounded-lg transform scale-98">
          <%= image_tag "black.webp", 
                        alt: "背景画像2", 
                        class: "w-full h-full object-cover rounded-lg opacity-75", 
                        loading: "lazy" %>
        </div>
        <!-- 3枚目のサムネイル（最前面） -->
        <%= image_tag playlist.clips.first&.thumbnail_url.gsub('%{width}x%{height}', '320x180'), 
                      alt: "メインサムネイル", 
                      class: "rounded-lg w-full object-cover relative z-10", 
                      style: "height: 200px;", 
                      loading: "lazy" %>
        <!-- 再生アイコン -->
        <div class="absolute inset-0 flex items-center justify-center">
          <div class="bg-black bg-opacity-50 rounded-full w-12 h-12 flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" width="24" height="24">
              <path d="M8 5v14l11-7z"></path>
            </svg>
          </div>
        </div>
        <% end %>
        <!-- タイトルとハートアイコン -->
        <div class="flex items-center justify-between mt-2">
          <!-- タイトル -->
          <p class="text-lg font-bold truncate text-black">
            <%= playlist.title %>
          </p>
          <!-- ハートアイコンといいね数 -->
          <div class="flex items-center space-x-2">
            <button type="button" class="text-black-400" aria-label="共有">
              <i class="fa-brands fa-x-twitter"></i>
            </button>
            <button type="button" class="text-white-400 hover:text-purple-500 transition-colors duration-200" aria-label="いいね">
              <i class="fa-solid fa-heart"></i>
            </button>
            <p class="text-sm font-bold text-black">
              1
            </p>

          </div>

        </div>
      </div>
      <% end %>
    </div>
  </div>