<div class="flex justify-center items-center min-h-screen bg-gray-100">
  <div class="w-full max-w-md bg-white rounded-lg shadow-lg p-6">
    <h2 class="text-2xl font-bold text-center text-black mb-6">サインアップ画面</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "space-y-4" }) do |f| %>

    <div>
      <%= f.label :user_name, "ユーザー名", class: "block text-sm font-medium text-black" %>
      <%= f.text_field :user_name, autofocus: true, autocomplete: "username", 
    class: "bg-white input input-bordered w-full mt-1", 
    placeholder: "ユーザー名" %>
      <!-- ユーザー名のエラーがある場合 -->
      <% if resource.errors.include?(:user_name) %>
      <ul class="text-red-500 text-sm mt-2">
        <% resource.errors.full_messages_for(:user_name).each do |error_message| %>
        <li><%= error_message %></li>
        <% end %>
      </ul>
      <% end %>
    </div>

    <div>
      <%= f.label :email, "Eメール", class: "block text-sm font-medium text-black" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", 
          class: "bg-white input input-bordered w-full mt-1", 
          placeholder: "general@example.com" %>
      <!-- Eメールのエラーがある場合 -->
      <% if resource.errors.include?(:email) %>
      <ul class="text-red-500 text-sm mt-2">
        <% resource.errors.full_messages_for(:email).each do |error_message| %>
        <li><%= error_message %></li>
        <% end %>
      </ul>
      <% end %>
    </div>

    <div>
      <%= f.label :password, "パスワード", class: "block text-sm font-medium text-black" %>
      <% if @minimum_password_length %>
      <em class="text-sm text-black">（<%= @minimum_password_length %>文字以上）</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", 
          class: "bg-white input input-bordered w-full mt-1", 
          placeholder: "パスワード" %>
      <!-- パスワードのエラーがある場合 -->
      <% if resource.errors.include?(:password) %>
      <ul class="text-red-500 text-sm mt-2">
        <% resource.errors.full_messages_for(:password).each do |error_message| %>
        <li><%= error_message %></li>
        <% end %>
      </ul>
      <% end %>
    </div>

    <div>
      <%= f.label :password_confirmation, "パスワード確認", class: "block text-sm font-medium text-black" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", 
          class: "bg-white input input-bordered w-full mt-1", 
          placeholder: "パスワード確認" %>
      <!-- パスワード確認のエラーがある場合 -->
      <% if resource.errors[:password_confirmation].any? %>
      <ul class="text-red-500 text-sm mt-2">
        <% resource.errors.full_messages_for(:password_confirmation).each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
      <% end %>
    </div>

    <div>
      <%= f.submit "新規登録", class: "btn bg-purple-500 hover:bg-purple-600 text-white w-full" %>
    </div>
    <% end %>

    <p class="text-center text-sm text-gray-500 mt-4">
      既にアカウントを持っている？
      <%= link_to "ログイン", new_user_session_path, class: "text-purple-600 hover:underline" %>
    </p>
  </div>
</div>