<!-- プレイリストセクション -->
<div>
  <div class="flex items-center justify-between mb-4 pb-2">
    <!-- 見出し部分に下線を追加 -->
    <h2 class="text-lg font-bold text-gray-800">
      <%= link_to 'プレイリスト', search_playlist_path, class: "text-purple-800 hover:underline text-xl pl-3" %>
    </h2>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 gap-6">
    <% @playlists.each do |playlist| %>
    <div class="rounded-lg p-2 relative group">
      <%= link_to playlist_path(playlist), class: "block relative" do %>
      <%= render "shared/playlist_card", playlist: playlist %>
      <% end %>
      <!-- タイトルとハートアイコン -->
      <div class="flex items-center justify-between mt-2">
        <!-- タイトル -->
        <p class="text-md font-bold truncate text-black">
          <%= truncate(playlist.title, length: 10, omission: '...') %>
        </p>

        <!-- Xボタンといいねボタン -->
        <div class="flex items-center space-x-1">
          <!-- X共有ボタン -->
          <div class="shrink-0">
            <%= link_to  "https://twitter.com/share?url=#{CGI.escape(playlist_url(playlist))}&text=#{CGI.escape('TwitchClipFinder')}&hashtags=TwitchClipFinder", target: "_blank", rel: "noopener noreferrer", title: "Xでシェアする" do %>
            <i class="fa-brands fa-x-twitter "></i>
            <% end %>
          </div>

          <!-- いいねボタン部分 -->
          <div class="shrink-0" id="playlist_<%= playlist.id %>_like">
            <%= render "playlists/like", playlist: playlist %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>