<!-- モーダルのトグル用チェックボックス -->
<input type="checkbox" id="playlist-modal-<%= clip.id %>" class="modal-toggle" />

<!-- モーダル本体 -->
<div class="modal z-40">
  <div class="modal-box rounded-lg bg-white shadow-lg">

    <!-- モーダルヘッダー -->
    <div class="flex justify-between items-center">
      <h3 class="font-bold text-lg text-gray-800">
        <%= t('keep_playlist') %>
      </h3>
      <!-- 「X」ボタン -->
      <label for="playlist-modal-<%= clip.id %>" class="text-black">✕</label>
    </div>
    <!-- モーダル内のコンテンツ -->
    <div class=" py-4">
      <!-- プレイリストのラジオボタンリスト -->
      <%= form_with url: add_clip_in_playlist_path, method: :post do |f| %>
      <input type="hidden" name="search_query" value="<%= @search_query %>" />
      <input type="hidden" name="clip_id" value="<%= clip.id %>" />

      <div class="form-control">
        <label class="label purple-800">
          <span class="label-text text-gray-600">
            <%= t('select_playlist') %>
          </span>
        </label>

        <% if playlists.present? %>
        <!-- プレイリストが存在する場合の表示 -->
        <% playlists.each_with_index do |playlist, index| %>
        <label class="cursor-pointer label py-2">
          <input type="radio" name="playlist_id" value="<%= playlist.id %>" class="radio mr-2 border-purple-500 checked:bg-purple-500 focus:ring-purple-500" <%= "checked" if index == 0 %> />
          <span class="label-text text-gray-700"><%= t('activerecord.attributes.playlist.title', title: playlist.title) %></span>
        </label>
        <% end %>
        <% else %>
        <!-- プレイリストが存在しない場合の表示 -->
        <label class="cursor-pointer label py-2">
          <span class="label-text text-gray-700">
            <%= t('no_exist_playlist') %>
          </span>
          <% end %>
      </div>

      <!-- 「新しいプレイリストを作成」 -->
      <div class="mt-6">
        <label for="new-playlist-modal-<%= clip.id %>" class="btn btn-outline hover:bg-purple-800  w-full">
          <i class="fa-solid fa-plus"></i>
          新しいプレイリストを作成
        </label>
      </div>

      <!-- 保存ボタン -->
      <% if playlists.present? %>
      <div class="modal-action mt-4 flex justify-end space-x-2">
        <button type="submit" class="btn bg-purple-600 hover:bg-purple-700 text-white border-none">
          <i class="fa-solid fa-floppy-disk"></i>
          <%= t('keep') %>
        </button>
      </div>
      <% else %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>

<!-- 新しいプレイリスト作成モーダル -->
<input type="checkbox" id="new-playlist-modal-<%= clip.id %>" class="modal-toggle" />
<div class="modal z-50">
  <div class="modal-box rounded-lg shadow-lg bg-white" data-controller="form-validation">
    <!-- モーダルヘッダー -->
    <div class="flex justify-between items-center">
      <h3 class="font-bold text-lg text-black">
        <%= t('create_playlist') %>
      </h3>
      <!-- 「X」ボタン -->
      <label for="new-playlist-modal-<%= clip.id %>" class=" btn btn-sm btn-circle">✕</label>
    </div>
    <%= form_with url: playlist_clips_path, method: :post do |f| %>
    <input type="hidden" name="search_query" value="<%= @search_query %>" />
    <input type="hidden" name="clip_id" value="<%= clip.id %>" />
    <% if current_user.present? %>
    <input type="hidden" name="user_uid" value="<%= current_user.uid %>" />
    <% end %>
    <!-- プレイリスト作成のバリデーション設定 -->
    <%= render partial: "shared/playlist_validate", locals: { f: f} %>

    <!-- モーダルフッター内にフォームの送信ボタンを配置 -->
    <div class="flex justify-end space-x-2 mt-4">
      <%= f.submit "作成", 
            class: "btn bg-purple-600 hover:bg-purple-700 text-white border-none", 
            data: { action: "form-validation#validate" } %>
    </div>
    <% end %>
  </div>
</div>