<% if playlist.present? %>
<div class="p-4" id="<%= dom_id(playlist) %>">
  <!-- ãƒ—ãƒ¬ã‚¤ãƒªã‚¹ãƒˆã¸ã®ãƒªãƒ³ã‚¯ -->
  <%= link_to playlist_path(playlist), class: "block" do %>
  <div class="rounded-lg p-2 relative group">
    <%= link_to playlist_path(playlist), class: "block relative" do %>
    <%= render "shared/playlist_card", playlist: playlist %>
    <% end %>
  </div>
  <% end %>

  <!-- ã‚¿ã‚¤ãƒˆãƒ«ã€ã‚¢ã‚¤ã‚³ãƒ³ã€ä¸‰ç‚¹ãƒªãƒ¼ãƒ€ãƒ¼ã‚’æ¨ªä¸¦ã³ã«é…ç½® -->
  <div class="flex items-center justify-between mt-4 z-50">
    <!-- å·¦å´ã®ã‚¿ã‚¤ãƒˆãƒ«ã¨ã‚¢ã‚¤ã‚³ãƒ³ -->
    <div>
      <!-- ãƒ—ãƒ¬ã‚¤ãƒªã‚¹ãƒˆã‚¿ã‚¤ãƒˆãƒ« -->
      <h3 class="text-lg font-bold text-black">
        <%= playlist.title %>
      </h3>
      <!-- å…¬é–‹ãƒ»éžå…¬é–‹ã¨ã„ã„ã­ãƒ»å…±æœ‰ -->
      <div class="flex items-center space-x-4 text-sm mt-2">
        <div class="flex items-center space-x-4">
          <!-- ã„ã„ã­ãƒœã‚¿ãƒ³ -->
          <div id="playlist_<%= playlist.id %>_like">
            <%= render "playlists/like", playlist: playlist %>
          </div>
          <!-- å…±æœ‰ã‚¢ã‚¤ã‚³ãƒ³ -->
          <%= link_to "https://twitter.com/intent/tweet?text=#{CGI.escape("ðŸ“º Twitch: https://clips.twitch.tv/#{playlist&.clips&.first&.clip_id}\n#ï¸âƒ£ ãƒãƒƒã‚·ãƒ¥ã‚¿ã‚°: #TwitchClipFinder\n")}&url=#{CGI.escape(playlist_url(playlist))}", target: "_blank", rel: "noopener noreferrer", title: "Xã§ã‚·ã‚§ã‚¢ã™ã‚‹" do %>
          <i class="fa-brands fa-twitter text-gray-500"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>