<% if playlist.present? %>
<div class="bg-white p-4 rounded-lg" id="<%= dom_id(playlist) %>">
  <!-- プレイリストへのリンク -->
  <%= link_to playlist_path(playlist), class: "block" do %>
  <div class="relative">
    <!-- サムネイル画像 -->
    <%= image_tag playlist.clips.first&.thumbnail_url, alt: "サムネイル", class: "rounded-lg w-full h-32 object-cover" %>
    <!-- クリップ数表示 -->
    <span class="absolute bottom-2 right-2 bg-black bg-opacity-50 text-white text-xs px-2 py-1 rounded">
      クリップ数: <%= playlist.clips.count %>
    </span>
  </div>


  <!-- タイトルと三点リーダーアイコン -->
  <div class="flex items-center justify-between mt-4">
    <!-- プレイリストタイトル -->
    <div>
      <h3 class="text-lg font-bold text-black">
        <%= playlist.title %>
      </h3>
      <!-- 公開・非公開 -->
      <p class="text-sm text-gray-500 mt-1">
        <%= I18n.t("activerecord.attributes.playlist.visibility.#{playlist.visibility}") %>
      </p>
    </div>
    <% end %>


    <!-- 三点リーダーアイコンとドロップダウン -->
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-black" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01" />
        </svg>
      </label>
      <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52 right-0 bg-white z-10">
        <li class="flex items-center">
          <!-- 編集モーダルをトグルするラベル -->
          <%= link_to "編集", edit_playlist_path(playlist), class: "flex w-full items-center hover:bg-purple-600 hover:text-white text-black rounded" %>
          </label>
        </li>
        <li class="flex items-center">
          <!-- 削除アイコン -->
          <%= link_to "削除", playlist_path(playlist), 
          data: { turbo_method: :delete, turbo_frame: "_top" }, 
          class: "flex w-full items-center hover:bg-purple-600 hover:text-white text-black rounded" %>
        </li>
        <li class="flex items-center">
          <!-- 共有アイコン -->
          <a href="#" class="flex w-full items-center hover:bg-purple-600 hover:text-white text-black rounded">
            <span>共有</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- モーダルの部分テンプレート -->
<%= render partial: "modal", locals: { playlist: playlist } %>
<% end %>