<div class="bg-white text-black min-h-screen flex flex-col px-2 sm:px-4 max-w-xs sm:max-w-md lg:max-w-screen-md mx-auto">
  <!-- プレイリストタイトル -->
  <div class="flex items-center mt-4">
    <h2 class="text-sm lg:text-base text-black">
      <i class="fa-solid fa-list"></i>
      <%= t('playlists.title', title: @playlist.title ) %>
    </h2>
  </div>

  <!-- 動画プレイヤー -->
  <div class=" rounded-lg mt-2 w-full">
    <figure class="relative">
      <iframe src="https://clips.twitch.tv/embed?clip=<%= @clip.clip_id %>&parent=<%= ENV['TWITCH_PARENT_URL'] %>&autoplay=true" scrolling="no" allowfullscreen="true" class="w-full h-auto" style="max-width: 100%; height: 300px;">
      </iframe>
    </figure>

    <div class="flex items-center justify-between px-1 pt-2 py-2 border-b border-gray-300">
      <!-- 配信者情報 -->
      <div class="flex items-center gap-2">
        <%= link_to search_path(q: @clip&.broadcaster&.broadcaster_login), class: "flex-shrink-0" do %>
        <img src="<%= @clip&.broadcaster&.profile_image_url.gsub('{width}x{height}', '100x100') %>" alt="<%= @clip&.broadcaster&.broadcaster_login %>" class="w-10 h-10 rounded-full object-cover" loading="lazy" />
        <% end %>
        <%= link_to @clip.broadcaster.broadcaster_login, search_path(q: @clip.broadcaster.broadcaster_login),  
        class: "text-xs lg:text-sm text-black hover:underline hover:decoration-purple-500 block truncate" %>
      </div>
      <div class="flex items-center gap-4">
        <% if @playlist.visibility == "public" %>
        <%= render "shared/like", playlist: @playlist %>
        <% end %>
        <%= render partial: 'shared/x', locals: { playlist: @playlist } %>
        <% if user_signed_in? %>
        <label for="playlist-modal-<%= @clip.id %>" class="text-gray-500 hover:text-purple-500 cursor-pointer flex items-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 mr-1" viewBox="0 0 24 24" fill="none" stroke="currentColor">
            <path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path>
          </svg>
          <span>
            <%= t('keep') %>
          </span>
        </label>
        <% end %>
      </div>
    </div>

    <!-- 動画情報 -->
    <div class="flex flex-col mt-4">
      <div class="flex items-center gap-2">
        <div>
          <h1 class="text-sm lg:text-base font-bold text-black truncate">
            <%= t('clip.title', title: @clip&.title) %>
          </h1>
          <%= link_to t('activerecord.attributes.game.name', name: @clip&.game&.name), search_path(q: @clip&.game&.name),
            class: "text-xs lg:text-sm text-purple-500 hover:underline hover:decoration-purple-500 block truncate" %>
          <p class="text-xs lg:text-sm text-gray-600 truncate">
            <%= t('clip.creator_name', creator_name: @clip&.creator_name) %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- クリップ一覧 -->
  <div class="flex-1 bg-gray-300 p-2 rounded-lg w-full mt-2">
    <ul class="space-y-2">
      <% @clips.each do |clip| %>
      <li class="flex items-center bg-gray-200 p-2 rounded-lg hover:bg-gray-300 transition sm:flex-col sm:items-start sm:gap-1">
        <%= link_to playlist_path(@playlist, clip_id: clip.id, turbo_frame: "video_player"), class: "flex items-center gap-2 w-full" do %>
        <img src="<%= clip.thumbnail_url.gsub('%{width}x{height}', '160x90') %>" alt="<%= clip.title %>" class="w-16 sm:w-20 h-auto rounded flex-shrink-0" />
        <div class="truncate w-full">
          <p class="text-xs lg:text-sm font-bold text-black truncate">
            <%= clip.title %>
          </p>
          <p class="text-xs lg:text-sm text-gray-700 truncate">
            <%= clip.broadcaster&.broadcaster_login %>
          </p>
        </div>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
  <%= render "shared/create_playlist_modal", clip: @clip, playlists: @playlists%>
</div>