<!DOCTYPE html>
<html>

<head>
  <title><%= content_for(:title) || "FavoriteClipFinder" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= favicon_link_tag('favicon.ico') %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= yield :head %>
  <link rel="manifest" href="<%= pwa_manifest_path(format: :json) %>">
  <link rel="apple-touch-icon" href="/icon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  <script src="https://kit.fontawesome.com/4025a67f93.js" crossorigin="anonymous" defer></script>
  <%= display_meta_tags(default_meta_tags) %>
  <!-- Googleアナリティクス -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-GN9LLGTV5J" defer></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-GN9LLGTV5J');
  </script>
</head>

<body class="bg-gray-100 flex flex-col min-h-screen">
  <!-- ヘッダー -->
  <%= render "shared/header"%>

  <div class="flex flex-col pt-16 min-h-screen">
    <!-- フォローリスト（サイドバー） -->
    <aside class="hidden sm:block w-60 bg-gray-custom pt-2 fixed top-16 left-0 overflow-y-auto z-40 border border-gray-300 shadow-md" style="height: calc(100vh - 6rem - 4px);">
      <h2 class="text-sm font-bold text-black mb-3 px-4">
        <%= @follow_str %>
      </h2>
      <ul class="space-y-0">
        <% @followed_channels.each do |follow| %>
        <li class="flex items-center pt-2 px-2 hover:bg-gray-100 rounded cursor-pointer">
          <%= link_to search_path(q: follow.broadcaster_login), class: "flex items-center space-x-1 w-full" do %>
          <!-- プロフィール画像 -->
          <img src="<%= follow.profile_image_url %>" alt="<%= follow.broadcaster_login %>" class="w-10 h-10 rounded-full object-cover">
          <!-- 名前 -->
          <div class="flex-1">
            <p class="text-gray-800 text-xs truncate"><%= t('activerecord.attributes.broadcaster.broadcaster_login', name: follow.broadcaster_login) %></p>
          </div>
          <% end %>
        </li>
        <% end %>
      </ul>
    </aside>

    <!-- メインコンテンツ -->
    <main class="flex-1 pt-6 p-4 sm:ml-60 flex-grow" style="padding-bottom: 80px;">
      <%= yield %>
      <!-- フラッシュメッセージ用のTurbo Frame -->
      <%= turbo_frame_tag "flash_messages" do %>
      <%= render "layouts/flash_messages" %>
      <% end %>
    </main>
  </div>

  <!-- フッター -->
  <%= render "shared/footer" %>
</body>

</html>